@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 0!important;
}

a {
    text-decoration: none;
}

.site-logo div {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 20px;
    padding: 9px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
}

.navbar_container {
    height: 75px;
}

.home_header {
    padding-top: 30px;
    height: 800px;
    background-color: rgb(108, 197, 73);
    background-image: url('../img/header2190.jpg');
    background-size: cover;
}