@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.op-0 {
  display: none;
}

a {
  color: inherit !important;
}

#root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  padding: 0 !important;
}

a {
  text-decoration: none;
}

.m-none {
  margin: 0 !important;
}

.p-none {
  padding: 0 !important;
}

.site-logo div {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 20px;
  padding: 9px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  display: inline-block;
}

.site-logo {
  display: inline-block;
}

.navbar_container {
  height: 75px;
}

.home_header {
  padding-top: 30px;
  background-color: #aad9b7;
  background-image: url("../img/header2190.jpg");
  background-size: cover;
}

.logoIcon {
  content: url("../img/icons/bonsai.svg");
  height: 50px;
  display: inline-block;
  margin-bottom: 10px;
}

.cartIcon {
  content: url("../img/icons/shopping-cart.svg");
  height: 34px;
  display: inline-block;
}

.circle {
  margin-top: 9px;
  margin-left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 13px;
  color: #fff;
  text-align: center;
  background: #14a085;
}

.navbar-nav a {
  display: inherit;
}

.header-text-bold {
  font-weight: 700;
  font-size: 2.5em;
}

.header-row {
  margin-top: 120px;
}

.header-text {
  margin-top: 40px;
  width: 70%;
}

.header-button-div {
  margin-top: 60px;
  margin-right: 130px;
  text-align: center;
}

.button_div_404 {
  text-align: center;
  margin-top: 30px;
}

div .main_button {
  width: 130px;
  height: 40px;
  background-color: #14a085;
  border-color: #14a085;
  border-radius: 18px;
}

.header-button-div button:hover {
  background-color: #f3b58c;
  border-color: #f3b58c;
}

.main_shop_row {
  /*margin-top: 50px;*/
}

.title_404 {
  margin-top: 20%;
  font-size: 12em;
  text-align: center;
}

.text_404 {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 350;
}

.input-range__track {
  background: #aad9b7 !important;
}

.input-range__track--active {
  background: #0e8870 !important;
}
.input-range__slider {
  background: #0e8870 !important;
  border: 1px solid #0e8870 !important;
}

.input-range__label {
  color: #000000 !important;
  font-family: "Roboto", sans-serif !important;
}

.p-50 {
  padding-top: 50px;
}

.p-70 {
  padding-top: 70px;
}

.p-100 {
  margin-top: 100px;
}

.filter_text {
  font-size: 17px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 400;
}

/*Checkboxes styles*/
.categoryInput {
  display: none;
}

.categoryInput + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.categoryInput + label:last-child {
  margin-bottom: 0;
}

.categoryInput + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #0e8870;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

.categoryInput:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter_component {
  margin-bottom: 40px;
}

.shop_container {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.d-block {
  max-width: 100%;
  height: auto;
  content: url("../img/owl_flat_2000.jpg");
}
.filter_row_fluid {
  margin: 0 !important;
  padding-left: 0px !important;
  background-color: rgb(255, 255, 255);
}

.sticky-inner-wrapper {
  z-index: 500;
  padding: 0;
}

/*MAIN NAV MOBILE VERS*/
@media (max-width: 991px) {
  .main_nav_collapse {
    background-color: #fff;
    z-index: 2002;
  }

  .main_nav_togler,
  .collapsed,
  .js-logo-clone,
  .navbar-brand,
  .navbar_container,
  .navbar_wrapper {
    background-color: #fff;
  }

  .navbar_container {
    padding-top: 0 !important;
  }

  .main_nav_togler {
    background-color: #ffffff !important;
  }

  .nav-link {
    text-align: center;
    margin: 10px;
    justify-content: center;
  }

  .navbar {
    z-index: 3000;
  }

  .navbar-light .navbar-toggler {
    margin-right: 20px;
  }
  .navbar_wrapper {
    padding: 0 !important;
  }
  /*END MAIN NAV */

  /*FILTER NAVBAR MOBILE*/
  .filter-toggle {
    background-color: #fff !important;
  }

  .filter_navbar {
    background-color: #15282f;
  }

  .filter_dropdown a {
    color: #fff !important;
  }

  .filter_dropdown .dropdown-menu a {
    text-align: center;
  }

  .filter_dropdown .dropdown-menu {
    background-color: rgb(53, 123, 112);
    border: none;
    padding: 0 !important;
  }

  .filter_dropdown .dropdown-menu a:hover {
    background-color: rgb(26, 50, 60);
    color: #fff;
  }

  .filter_dropdown .dropdown-menu a {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .filter_link {
    display: block !important;
  }

  .filter_dropdown.show {
    background-color: brown !important;
  }

  .nav-filter_row .filter_link {
    padding: 0 !important;
  }

  .filter_link {
    border-bottom: 1px solid #ccc;
  }
}
/*FILTER NAVBAR MOBILE*/

/*FILTER NAVBAR LG */
@media (min-width: 991px) {
  .filter_navbar {
    background-color: #fcf9f3;
    border-bottom: 1px solid #ccc;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .filter_title {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.7);
  }

  .filter_dropdown {
    text-align: left;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .filter_dropdown a {
    padding-left: 20px;
  }

  .filter_dropdown .dropdown-menu {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: 1px solid #ccc;
    text-align: center;
    padding: 0 !important;
  }

  .filter_dropdown .dropdown-menu a:hover {
    background-color: #1b323a;
    color: #fff;
  }

  .filter_dropdown .dropdown-menu a:focus {
    background-color: #ffffff;
  }

  .order_filter,
  .order_filter .dropdown-menu {
    min-width: 180px;
  }

  .items_quan_filter,
  .items_quan_filter .dropdown-menu {
    min-width: 80px;
  }

  .filter_dropdown .dropdown-menu a {
    padding-bottom: 13px;
    padding-top: 13px;
    text-align: initial;
  }
}

.filter_dropdown .dropdown-menu a:hover > .small_icon {
  filter: invert(100%) sepia(7%) saturate(7496%) hue-rotate(193deg)
    brightness(113%) contrast(100%);
}

/*END LG FILTER NAVBAR*/

.small_icon {
  height: 13px;
  width: 13px;
  margin-right: 10px;
}
.sort_arrow_icon {
  content: url("../img/icons/sort-arrows.svg");
}

.up_arrow_icon {
  content: url("../img/icons/sort-up.svg");
}

.down_arrow_icon {
  content: url("../img/icons/sort-down.svg");
}

.flat_icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg)
    brightness(103%) contrast(103%);
  content: url("../img/icons/tile1.svg");
}

.tile_icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(156deg)
    brightness(103%) contrast(103%);
  content: url("../img/icons/list.svg");
}

.switch_icons {
  height: 60%;
  width: auto;
}

.switch_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*ITEM TILE*/
.items-row {
  padding-left: 30px;
}

.row-btn-item {
  float: left;
  width: 130px;
  height: 44px;
  background-color: #fff;
  border: 1.5px solid #224229!important; 
  border: none;
  color: #224229;
  font-size: 17px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 100px;
}

.row-item-price span{
  float:right;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 23px
}

.row-item-detail h4 {
  color: #304936; 
  font-weight: 500;
  font-size: 19px;
  font-style: italic;
}


.tile-item {
  text-align: center;
  height: auto;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-bottom: 90px;
}

.tile-item-price, .row-item-price {
  font-size: 17px;
  font-weight: 500;
}

.row-item-price {
  margin-top: 30px;
}

.tile-item-img {
  padding: 20px;
  width: 100%;
  height: auto;
  border-radius: 300px;
}

.item-wrap {
  position: relative;
  overflow: hidden;
}

.item-wrap .hover-item {
  position: absolute;
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  background: rgba(246, 207, 178, 0.75);
}

.tile-item button {
  width: 175px;
  height: 50px;
  background-color: #fff;
  border: 1.5px solid #224229!important; 
  border: none;
  color: #224229;
  font-size: 17px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 100px;
}

.tile-item h2 {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 24px;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.fixed-h-40 {
  height: 40px;
}

.bg-pink {
  background-color: #FFDBC3;
  padding: 4px 13px 4px 13px;
}

/* ROW ITEM */

.row-item {
  height: 400px;
  margin-bottom: 30px;
  padding-right: 35px !important;
  padding-left: 35px !important;
}

.row-item-detail {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: 40px !important;
 
}

.row-item-detail p {
  text-align: justify;
}

.row-item-img {
  position: relative;
  height: auto;
  width: 100%;
  border-radius: 400px;
}

/* PAGINATION */

.pagination-wrap {
  position: relative;
  text-align: center;
  min-height: 50px;
  color: #1b333d;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pagin-link {
  color: #1b333d;
  padding: 0 16px;
  margin: 0 12px 6px;
  height: 38px;
  min-width: 38px;
  border-radius: 38px;
  border: 2px solid #1b333d;
  line-height: 34px;
  letter-spacing: 0.03em;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
  transition: background 250ms;
  font-weight: 700;
}

/*Preloader*/
.preloader-img {
  height: 80px;
  width: auto;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
